body {
	display: flex;
	background-color: transparent;
	height: 100vh;
	flex-direction: column;
}
html {
	background-image: url('photos/bg3.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Lato", sans-serif;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}
#logout {
	border: solid white 3px;
	background-color: white;
	height: 80px;
	width: 80px;
	border-radius: 360px;
	background-image: url("photos/back.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	font-family: verdana;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
	opacity: 0.8;
}
#logout:hover {
	background-color: white;
	transform: scale(1.1);
	transition: transform 0.3s;
	}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
	box-shadow: #9ea0a3 15px 15px;
	position: absolute;
}

h3 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
	cursor: pointer;
}
button.centerbttn {
	float: none;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   text-align: center;
   width: 50%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   text-align: center;
   width: 70%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 